<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Movie Gross 2014</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>

	<div id="container"></div>

	<script id="movie-template" type="text/jst">
		<div class="movie-container">
			<div class="gross-container">
				<img src="imgs/<%=image%>">	
			</div>	
			<div class="name-value">Name:<%=name%></div>
			<div class="total-value">Total:<%=total%></div>
			<div class="theaters">Theaters:<%=theaters%></div>
			<div class="opening-value">Opening:<%=opening%></div>
		</div>

	</script>

	<script src="js/thirdparty/jquery-1.11.1.min.js"></script>
	<script src="js/thirdparty/d3.v3.min.js"></script>
	<script src="js/thirdparty/underscore-min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>