*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: times, sans-serif;
}

.movie-container{
	background-color: pink;
	border-radius: 5px;
	width: 250px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 6px black;
	font-size: 12px;
	border: 1px solid #ccc;
	line-height: 16px;
	display: inline-block;
	vertical-align: top;
}
.gross-container img{
	width: 90px;
}

.Name{
	font-weight: bold;
}

.total_gross{
	font-weight: bold;
	text-align: right;
}

.current-movie-container{
	font-size: 25px;
	font-weight: bold;
}
